Source: ttf-sidux
Section: x11
Priority: optional
Maintainer: Bernard Gray <bernard.gray@gmail.com>
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: defoma
Standards-Version: 3.7.3

Package: ttf-sidux
Architecture: all
Depends: defoma
Recommends: fontconfig
Description: official sidux truetype font 
 Official sidux font used for the sidux
 logo, and other PR material
