Source: ttf-sidux
Section: unknown
Priority: extra
Maintainer: Bernard Gray <bernard.gray@gmail.com>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: ttf-sidux
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
